
      @keyframes ldio-qorx55o730n {
        0% {
          opacity: 1;
          backface-visibility: hidden;
          transform: translateZ(0) scale(0.37,0.37);
        } 100% {
          opacity: 0;
          backface-visibility: hidden;
          transform: translateZ(0) scale(1,1);
        }
      }
      .ldio-qorx55o730n div > div {
        position: absolute;
        width: 27.240000000000002px;
        height: 27.240000000000002px;
        border-radius: 50%;
        background: #afd7db;
        animation: ldio-qorx55o730n 1.1235955056179776s linear infinite;
      }.ldio-qorx55o730n div:nth-child(1) > div {
        left: 163.5px;
        top: 99.5px;
        animation-delay: -0.9987515605493134s;
      }
      .ldio-qorx55o730n > div:nth-child(1) {
        transform: rotate(0deg);
        transform-origin: 177.12px 113.12px;
      }.ldio-qorx55o730n div:nth-child(2) > div {
        left: 148.5px;
        top: 140.5px;
        animation-delay: -0.8739076154806492s;
      }
      .ldio-qorx55o730n > div:nth-child(2) {
        transform: rotate(40deg);
        transform-origin: 162.12px 154.12px;
      }.ldio-qorx55o730n div:nth-child(3) > div {
        left: 110.5px;
        top: 162.5px;
        animation-delay: -0.7490636704119851s;
      }
      .ldio-qorx55o730n > div:nth-child(3) {
        transform: rotate(80deg);
        transform-origin: 124.12px 176.12px;
      }.ldio-qorx55o730n div:nth-child(4) > div {
        left: 68.5px;
        top: 154.5px;
        animation-delay: -0.6242197253433208s;
      }
      .ldio-qorx55o730n > div:nth-child(4) {
        transform: rotate(120deg);
        transform-origin: 82.12px 168.12px;
      }.ldio-qorx55o730n div:nth-child(5) > div {
        left: 40.5px;
        top: 121.5px;
        animation-delay: -0.4993757802746567s;
      }
      .ldio-qorx55o730n > div:nth-child(5) {
        transform: rotate(160deg);
        transform-origin: 54.120000000000005px 135.12px;
      }.ldio-qorx55o730n div:nth-child(6) > div {
        left: 40.5px;
        top: 78.5px;
        animation-delay: -0.37453183520599254s;
      }
      .ldio-qorx55o730n > div:nth-child(6) {
        transform: rotate(200deg);
        transform-origin: 54.120000000000005px 92.12px;
      }.ldio-qorx55o730n div:nth-child(7) > div {
        left: 68.5px;
        top: 44.5px;
        animation-delay: -0.24968789013732834s;
      }
      .ldio-qorx55o730n > div:nth-child(7) {
        transform: rotate(240deg);
        transform-origin: 82.12px 58.120000000000005px;
      }.ldio-qorx55o730n div:nth-child(8) > div {
        left: 110.5px;
        top: 37.5px;
        animation-delay: -0.12484394506866417s;
      }
      .ldio-qorx55o730n > div:nth-child(8) {
        transform: rotate(280deg);
        transform-origin: 124.12px 51.120000000000005px;
      }.ldio-qorx55o730n div:nth-child(9) > div {
        left: 148.5px;
        top: 59.5px;
        animation-delay: 0s;
      }
      .ldio-qorx55o730n > div:nth-child(9) {
        transform: rotate(320deg);
        transform-origin: 162.12px 73.12px;
      }
      .loadingio-spinner-spin-gkmwr87oy9 {
        width: 227px;
        height: 227px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff00;
      }
      .ldio-qorx55o730n {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
      }
      .ldio-qorx55o730n div { box-sizing: content-box; }

     