.card-box2 {
    padding: 0px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
 
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}
.thumb-lg {
    height: 88px;
    width: 88px;
}
.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.text-pink {
    color: #ff679b!important;
}
.btn-rounded {
    border-radius: 2em;
}
.text-muted {
    color: #98a6ad!important;
}
h4 {
    line-height: 22px;
    font-size: 18px;
}

.blog-details-icons li {
    margin: 2px !important;
  }
  
  .blog-details-icons li a {
    height: 32px;
    width: 32px;
    color: #777777;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    line-height: 30px;
    border-radius: 50%;
    border: 1px solid #777777;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .blog-details-icons li a:hover {
    background-color: #ff4f6c;
    color: #ffffff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-color: #ff4f6c;
  }

  .blog-datails-item li a {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .blog-datails-item li a:hover {
    color: #ff4f6c !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-left: 6px;
  }

  .employers-icons li {
    margin: 0px !important;
  }

  
